
    .formValidation{
        display: inline-block;
        width: initial;
                   }
    body {
}
    .marginEU{
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .right{
        float: right;
    }